body {
  margin: 0;
}

.road-img {
  position: relative;
  height: 100vh;
  width: 100vw;
  overflow: hidden;
}

/* ROAD */
.road {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 1;
}

/* CAR */
.car {
  position: absolute;
  bottom: 40px;     /* road ke upar */
  left: 50%;
  transform: translateX(-50%);
  width: 300px;
  z-index: 5;       /* road se upar */

  animation: drive 3s infinite;
}

/* ANIMATION */
@keyframes drive {
  from {
    bottom: 0;
    transform: translateX(-50%) scale(1);
  }
  to {
    bottom: 12em;
    transform: translateX(-50%) scale(0.7);
  }
}
