.pro {
    height: 100px;
    width: 100%;
    background-color: rgb(134, 70, 163);
    position: sticky;
    top: 0;  
    
}

.btn{
    background-color: rgb(207, 95, 39);
    position: fixed;
    right: 20px;
    top: 90%;
    padding: 12px 20px;
    border-radius: 50%;
}